em {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Layout */
.s-layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.s-layout-content {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

/* Sidebar */
.s-sidebar-trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 5rem;
  height: 4rem;
  display: flex;
  align-items: center;

  button {
    margin-left: 1rem;
  }
}

.s-sidebar-nav {
  position: fixed;
  top: 0;
  left: -15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease-in;
  width: 15rem;
  height: 100%;
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  color: white;

  //----------NAV TITLE----------
  .nav-title {
    color: white;
  }
  .nav-title-wrap {
    margin-left: 4rem;
    padding: 0.5rem 0;
    img {
      width: 3rem;
    }
  }

  //----------NAV LIST--------
  ul {
    margin: 0;
    padding: 0;
    li {
      width: 100%;
      a.s-sidebar-nav-link {
        
        display: flex;
        align-items: center;
        width: 100%;
        
        
        &:hover {
          background: white;
          color: #4e73df;
        }

        //-------------SVG-----------
        & > i {
          margin: 0.5rem 1rem;
          overflow: visible;
          font-size: 1.5em;
        }
      }
    }
  }
}

.s-sidebar-nav.open,
.s-sidebar-nav:hover,
.s-sidebar-nav:focus {
  left: 0;
}

.s-sidebar-nav.close {
  left: -15rem;
}

/* Mobile First */
@media (min-width: 768px) {
  main.s-layout-content > app-rf-table-n-form{
    margin-left: 4rem;
    width: calc(100% - 4rem);
  }
  
  /* Sidebar */
  .s-sidebar-trigger {
    //  width: 4rem;
    display: none;
  }

  .s-sidebar-nav {
    width: 4rem;
    left: 0 !important;
    .nav-title-wrap {
      margin-left: 0.5rem;
    }
  }

  .s-sidebar-nav:hover,
  .s-sidebar-nav:focus,
  .s-sidebar-trigger:hover + .s-sidebar-nav,
  .s-sidebar-trigger:focus + .s-sidebar-nav {
    width: 15rem;
  }
}

@media (min-width: 992px) {
  main.s-layout-content>app-rf-table-n-form {
    margin-left: 15rem;
    width: calc(100% - 15rem);

  }

  /* Sidebar */
  .s-sidebar-trigger {
    display: none;
  }

  .s-sidebar-nav {
    width: 15rem;
  }
}
